body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
font-family: "PokemonSolid";
src: local("PokemonSolid"),
 url("./Fonts/Pokemon Solid.ttf") format("truetype");
}

@font-face {
font-family: "PokemonHollow";
src: local("PokemonHollow"),
 url("./Fonts/Pokemon Hollow.ttf") format("truetype");
}
